<script src="/js/getname.js">
</script>

<p>
Hello! What is your first name?
</p>

<form method="post" action="first_name">
	<input type="text" name="first_name">
	<input type="submit" value="?" onclick="getFullName">
	<input type="text" name="first_name" id="first_name" >
</form>

<p>
Okay! What is your last name?
</p>

<form method="post" action="last_name">
	<input type="text" name="last_name">
	<input type="submit" value="last_name" onclick="getFullName">
	<input type="text" name="?" id="last_name" >