<script>
	function addName() {
		alert("addName function called");
		var input = document.createElement("input"); 
		input.type = "text";
		input.name = "names_provided[]"; //not sure of array name
		document.getElementById("firstnames");//not sure here either
	}
</script>


<p>
Hello! Please enter your name.
</p>

<form method="post" action="names_list" id="firstnames" id="lastnames">
First name:<br>
<input type="text" name="firstnames[]" required="">
<br>
Last name:<br>
<input type="text" name="lastnames[]" required="">
<br><br>
<button type="button" onclick="addName()">Add Name</button>
<input type="submit">
</form>


<p>Please note 20 characters max for each box.</p>


